.btn {
  user-select: none;
  -webkit-app-region: no-drag;
  transition-property: background-color, color;
  transition-duration: 100ms;
  transition-timing-function: linear;
  color: inherit;
}

.btn:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.btn:not(:disabled):hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .btn:not(:disabled):hover {
    background: rgba(255,255,255, 0.1);
  }
}

.btn:not(:disabled):active {
  background: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .btn:not(:disabled):active {
    background: rgba(255,255,255, 0.2);
  }
}
