h3 {
  padding: 0 1rem;
}

h3:first-of-type {
  margin-top: 0;
}

.playlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.playlist li {
  content-visibility: auto;
  contain-intrinsic-size: 31px;
}
.playlist a {
  padding: 5px 10px;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.playlist a span.item-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.playlist a:hover, .playlist a:focus-visible {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.play-icon {
  visibility: hidden;
}


.playlist a.active {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.05);
}

.playlist a.active .play-icon {
  visibility: visible;
}
