@layer components {
  .badge {
    @apply font-normal;
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }

  .badge-filler {
    @apply badge bg-red-500 dark:bg-red-600;
  }

  .badge-recap {
    @apply badge bg-blue-500 dark:bg-blue-600;
  }
}
