html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*noinspection CssUnusedSymbol*/
html, body, #app {
  height: 100%;
  margin: 0;
}

/**/
body {
  overflow: hidden;
  appearance: none;
}

#app {
  /*noinspection CssUnresolvedCustomProperty*/
  border: var(--window-border-width) solid #48545c;
  display: flex;
  flex-direction: column;
}

/**/
main {
  flex-grow: 1;
  overflow: auto;
}
