@layer components {
  .card {
    --card-padding: theme('spacing.5');
    padding: var(--card-padding);
    @apply rounded shadow bg-white dark:bg-true-gray-800 border border-opacity-25 border-black dark:border-white dark:border-opacity-25;
  }

  .card-inset {
    margin-right: calc(0px - var(--card-padding));
    margin-left: calc(0px - var(--card-padding));
    padding: calc(var(--card-padding) / 2) var(--card-padding);
  }

  .card-header {
    @apply card-inset bg-black bg-opacity-10 dark:(bg-white bg-opacity-10);
    margin-top: calc(0px - var(--card-padding));
    margin-bottom: calc(var(--card-padding) / 2);
  }


  .card-footer {
    @apply card-inset bg-black bg-opacity-10 dark:(bg-white bg-opacity-10);
    margin-bottom: calc(0px - var(--card-padding));
    margin-top: calc(var(--card-padding) / 2);
  }
}
