@layer base {
  body {
    --accent-color: theme('colors.accent.DEFAULT');
    accent-color: var(--accent-color);
  }

  *:focus:not(:focus-visible) {
    outline: none !important;
  }

  *:focus-visible {
    outline: 2px solid var(--outline-color, var(--accent-color)) !important;
    outline-offset: 2px;
  }
}
