@layer base {
  body {
    accent-color: theme('colors.accent.DEFAULT');
  }

  .accented {
    outline: 2px solid theme('colors.accent.DEFAULT') !important;
    outline-offset: 2px;
  }

  *:focus:not(:focus-visible) {
    outline: none !important;
  }

  *:focus-visible {
    outline: 2px solid theme('colors.accent.DEFAULT') !important;
    outline-offset: 2px;
  }
}
