@font-face {
  font-family: "Segoe MDL2 Assets";
  src:
    local("Segoe MDL2 Assets"),
    url("Segoe fonts v1710/SegMDL2.ttf") format("opentype");
}

.win-icon {
  font-family: "Segoe MDL2 Assets", sans-serif;
}
