.btn-title-bar {
  @apply
  select-none      transition-colors      duration-100      ease-linear      px-3      flex      place-items-center      place-content-center      cursor-default      !disabled:bg-transparent      hover:(bg-black bg-opacity-10 active:bg-opacity-20)      dark:hover:(bg-white bg-opacity-10 active:bg-opacity-20)    ;

  -webkit-app-region: no-drag;
  color: inherit;
}


